@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
	overscroll-behavior: none;
}

.key {
	@apply !mb-2 !flex !items-center !justify-center !rounded-[1.5rem] py-16 !text-[4rem] leading-[1];
}

.row {
	@apply gap-2;
}

.key .key--Shift {
	@apply !text-[5px];
}

.toaster .message {
	@apply !translate-y-[0.4rem] !text-[3.36rem];
}

.toaster .base * {
	@apply shrink-0 !text-[3.36rem] !text-white;
}

.toaster .base {
	@apply !bg-electric-indigo !shadow-box;
}

@font-face {
	font-family: 'AperturaRegular';
	src: url('/fonts/apertura-regular.otf') format('opentype');
}
@font-face {
	font-family: 'AperturaMedium';
	src: url('/fonts/apertura-medium.otf') format('opentype');
}
@font-face {
	font-family: 'AperturaBlack';
	src: url('/fonts/apertura-black.otf') format('opentype');
}
@layer base {
	body {
		font-family: 'AperturaRegular', sans-serif;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.hide-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@theme {
	--font-apertura-regular: 'AperturaRegular', sans-serif;
	--font-apertura-medium: 'AperturaMedium', sans-serif;
	--font-apertura-black: 'AperturaBlack', sans-serif;

	--color-oxford-blue: #00001e;
	--color-electric-indigo: #4450ff;
	--color-aquamarineo: #22f4ad;
	--color-vivid-sky: #1cd2fa;
	--color-tomato: #f1515d;

	--text-shadow-big: 0 9.77px 24px #000000;
	--text-shadow-small: 0 4px 4px #000000;

	--shadow-form-input: inset 0 10px 10px 0 rgba(0, 0, 0, 0.25);
	--shadow-box: 0 5px 7px #00000089, 0 -1px 5px #00000050;

	--animate-bounce: bounce 3.6s ease-in-out infinite;
	@keyframes bounce {
		0%,
		8%,
		16%,
		24%,
		100% {
			transform: scale(1);
		}
		2%,
		4% {
			transform: scale(1.1);
		}
		10%,
		12% {
			transform: scale(1.05);
		}
		18%,
		20% {
			transform: scale(1.02);
		}
	}
}
